html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #dcdcdc;
}
textarea[type="text"]::placeholder {
             
    /* Firefox, Chrome, Opera */
    text-align: left;
    border-radius: 5%;

}

#logo_bar{
    display: grid;
    height: 10%;
    grid-template-columns: [first] 80% [line2] 50px [line3] 10% [end];
    grid-template-rows: [row1-start] 100%;

}

#main-container{
    display: grid;
    grid-template-columns: [first] 15% [second] 85% ;
    grid-template-rows: [row-1] 15% [row-2] 12% [row-3] 12% [row-4] 12% [row-5] 49% [row-6];
    height: 100%;
}

#nav-container{
    grid-row-start: row-1;
    grid-row-end: row-2;
    grid-column-start: first;
    grid-column-end: first;
    background-color: #B8B8B8;
}

input[type="radio"] {
    visibility: hidden;
}

#message_btn{
    grid-row-start: row-2;
    grid-row-end: row-3;
    grid-column-start: first;
    grid-column-end: first;
    width: 100%;
    background-color: #B8B8B8;
}

.tab-items img{
    padding-left: 10px;
}

#setting_btn{
    grid-row-start: row-4;
    grid-row-end: row-5;
    grid-column-start: first;
    grid-column-end: first;
    background-color: #B8B8B8;
}

#messageRadio{
    width: 10%;
}

#friends_btn{
    grid-row-start: row-3;
    grid-row-end: row-4;
    grid-column-start: first;
    grid-column-end: first;
    background-color: #B8B8B8;
}

#function-container{
    grid-row-start: row-1;
    grid-row-end: row-6;
    grid-column-start: second;
    grid-column-end: second;
    /*background-color: brown;
    background-image: url('../images/background.png');*/
    height: 100%;
}

#logo {
    width: auto;       
    height: 50px;      
    margin-top: 25px;
    /* margin-left: 30px; */
    grid-row-start: row1-start;
    grid-row-end: row1-start;
    grid-column-start: line2;
    grid-column-end: line3;
    padding: 0px 0px 0px 0px

}

#logo_bar h3{
    grid-row-start: row1-start;
    grid-row-end: row1-start;
    grid-column-start: line3;
    grid-column-end: end;
    color: white;
    padding: 25px 0px 0px 10px;
    text-indent: 5%;
    letter-spacing:1px;
}




#profile_grid{
    display: grid;
    grid-template-rows: [row-1] 10% [row-2] 15% [row-3] 40% [row-4] 25% [row-5] 5%;
    grid-template-columns: [col-1] 10% [col-2] 35% [col-3] 45% [col-4] 5% [col-5] 5%;
}
#user_profile{
    grid-row-start: row-2;
    grid-row-end: row-3;
    grid-column-start: col-2;
    grid-column-end: col-2;
    overflow: hidden;
}
#user_name{
    font-size: large;
    margin: 0;
}

#user_email{
    font-size: xx-small;  
    margin: 0;

}

#user_infor{
    /* display: flex;
    flex-direction: column; */
    grid-row-start: row-3;
    grid-row-end: row-4;
    grid-column-start: col-3;
    grid-column-end: col-5;
    width: 100%;    
    /* border: 4px dotted red; */

}

.chat-room-contact{
    grid-row-start: row-2;
    grid-row-end: row-3;
    grid-column-start: col-1;
    grid-column-end: col-1;
    display: grid;
    grid-template-columns: [col-1] 5% [col-2] 90% [col-3] 5%;
    grid-template-rows: [row-1] 4em [row-2] 100%;
    height: 100%;
}
.all_contacts{
    grid-row-start:row-2;
    grid-row-end: row-3;
    grid-column-start:col-2;
    grid-column-end: col-2;
    margin-top: 5px;
}

#chat-room-contact input[type=text] {
    border: none;
    font-size: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px gray;  
    grid-row-start: row-1;
    grid-row-end: row-1;
    grid-column-start: col-2;
    grid-column-end: col-2;
}

.chat-interface{
    border-radius: 10px;
    height: 85%;
    margin-top: 5px;
    display: grid;
    grid-template-columns: [first] 1em [line2] 10% [line3] 1em [col4-start] 1fr [five] 1em [end];
    grid-template-rows: [row1-start] 5% [row1-end] auto [third-line] 5% [last-line];
    grid-gap: 1%;
    justify-items: center;
}


.message_tab_title{
    width: 100%;
    border-radius: 5px;
    grid-column-start: line2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: row1-start;
    background-color:#B8B8B8;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

#tabs-bar{
    display: grid;
    grid-template-columns: [col-1] 5% [col-2] 90% [col-3] 5%;
    grid-template-rows: [row-1] 100% [row-2];
}

/* #tab-items-container{
    display: grid;
    grid-row-start: row-1;
    grid-row-end: row-1;
    grid-column-start: col-2;
    grid-column-end: col-2;

} */

.tab-items{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    margin: 5%;
    font-weight: bold;
}
#message_num{
    margin-left: 5%;
}
#circle{
    height: 30px;
    width: 30px;
    background-color: #494949;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

#tab-content-container{
    background-color:#B1AFAF;
    grid-row-start: row1-end;
    grid-row-end: thrid-line;
    grid-column-start: line2;
    grid-column-end: five;
    width: 100%;
    display: grid;
    grid-template-columns: [col-1] 15% [col-2] 80% [col-3] 5%;
    grid-template-rows: [row-1] 5% [row-2] 90% [row-3] 5%;
    border-radius: 10px;
    overflow: hidden;

}

.friends-content{
    display: grid;
    grid-template-rows: [row-1] 5% [row-2] 10% [row-3] 35% [row-4] 35% [row-5] 10% [row-6] 5%;
    grid-template-columns: [col-1] 2% [col-2] 48% [col-3] 48% [col-4] 2% ;
    width: 100%;
    overflow: hidden;
    grid-row-start: row-1;
    grid-row-end: row-4;
    grid-column-start: col-1;
    grid-column-end: col-4;
}

.team-title-flex{
    display: flex;
    justify-content:space-around;
    align-items: center;
    grid-row-start: row-2;
    grid-row-end: row-2;
    grid-column-start: col-2;
    grid-column-end: col-4;
    height: 100%;
    background-color: #b8b8b8;

}


.friends-container{
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust this value as needed */
    width: 100%;
    grid-column-start: col-2;
    grid-column-end: col-4;
    grid-row-start: row-3;
    grid-row-end: row-6;
    width: 100%;
    justify-content: space-around;
    overflow: hidden;
    text-align: center;
    align-items: center;
    background-color: #494949;
}

.friend_name{
    flex-basis: 20%;
    color: white;
}

.friends img{
    width: 100px;
}

/* chat-interface -> contact-container */
.contact-container{
    background-color:#B8B8B8;
    border-radius: 5px;
    height: min-content;
    color: white;
    width: 100%;
    grid-column-start: col-1;
    grid-column-end: col-2;
    grid-row-start: row-1;
    grid-row-end: row-2;
    display: flex;
    flex-direction: column;
    align-items:  stretch;
}

/* chat-interface -> contact-container -> contact-list*/
#contact-list {
    display: flex;
    /* border-radius: 5px; */
    flex-direction: column;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* chat-interface -> contact-container -> contact-list -> individual_contact */
.individual_contact {
    cursor: pointer;
    padding-left: 5px;
    display: flex;
    width: 100%;
    height: 2.8em;
    align-items: center;
    color: #000000;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.8em;
    border-radius: 0.5em;
}

.individual_contact img {
    width: 30%;
    margin-right: 5%;
    border-radius: 50%;
    height: auto;
}

.individual_contact:hover {
    transition: 0.5s;
    background-color: #FD648C;
}

/* chat-interface -> chat-room  kk*/
.chat-room {
    display: grid;
    grid-template-columns: [first] 2% [line2] 2fr [line3] 0.25fr [col4-start] 2% [end] ;
    grid-template-rows: [row1-start] 30px [first-end] auto [third-line] 50px [fourth-line] 30px [last-line];
    grid-gap: 5px;
    border-radius: 5px;
    background-color:rgba(78, 78, 78, 0.95);
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-column-start: col-2;
    grid-column-end: col-3;
    grid-row-start: row-2;
    grid-row-end: row-2;
}

/* chat-interface -> chat-room -> chat-box */
.chat-box {
	display: flex;
	flex-direction: column;
	align-items: center;
    grid-column-start: line2;
    grid-column-end: col4-start;
    grid-row-start: first-end;
    grid-row-end: third-line;
    width: 100%;
	height: 95%;
	overflow: auto;
    text-align: center;
    color: white;
}

.section{
    visibility: hidden;
}

/* Show the section(s) when the "cat" radio button is checked */
#messageRadio:checked ~ #function-container .chat-interface .messages {
    visibility: visible !important;
}
#messageRadio:checked ~ #message_btn #content1 {
    background-color: rgba(254, 81, 1, 0.56) !important;
    border-radius: 10px;
    opacity: 90%;
    height: 50px;
    box-shadow: 1px 1px 1px gray;  

    

}

#friendsRadio:checked ~ #friends_btn #content2 {
    background-color: rgba(254, 81, 1, 0.56) !important;
    border-radius: 10px;
    opacity: 90%;
    height: 50px;
    box-shadow: 1px 1px 1px gray;  


}

.current-contact {
    cursor: auto;
    background-color: rgba(254, 81, 1, 0.56) !important;
    box-shadow: 1px 1px 1px gray;

}

#messageRadio:checked ~ #function-container .chat-interface .chat-search-bar {
    border: none;
    font-size: 0.8em;
    height: 4em;
    border-radius: 1em;
    box-shadow: 1px 1px 1px gray;
    grid-row-start: row-1;
    /* grid-row-end: row-1; */
    grid-column-start: col-2;
}

/* #messageRadio:checked ~ #function-container .chat-interface .message_tab_title {
    visibility: visible;
} */

/* Show the section when the "bird" radio button is checked */
#friendsRadio:checked ~ #function-container #tab-content-container .friends {
    visibility: visible;
}

#friendsRadio:checked ~ #function-container .chat-interface .friends {
    visibility: visible;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #828282; 
}

::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;
}

.chat-box > div {
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.chat-box > div > div {
	float: left;
    border: 5px gray;
    border-radius: 5px;
    background-color: lightgray;
    /*min-width: 20%;*/
    max-width: 90%;
    color: black;
}

.chat-box > div > div > p {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left;
	margin-left: 1em;
	margin-right: 1em;
}

.chat-box > div > .personal {
	background-color: #71CCFF;
	float: right;
}

/* chat-interface -> chat-room -> email -> send_btn */
#send_btn {
    cursor: pointer;
    background-color: #58C285;
    color: white;
    font-weight: bold;  
    grid-column-start: fourth_col;
    grid-column-end: fourth_col;
    grid-row-start: first_row;
    grid-row-end: second_row;
    margin: 0px 10px 0px 0px;
    border-radius: 25px 25px 25px 25px;
    width: 50px;    
    align-self:center;
    font-size: large;
}

#send_btn:hover {
    transition: 0.5s;
    background-color: #459767;
}

/* chat-interface -> chat-room -> email -> input */
#input{
    border-radius: 5px;
    grid-row-start: first_row;
    grid-row-end: second_row;
    grid-column-start: first_col;
    grid-column-end: col4-start; 
}

#ai_chack{
    grid-row-start: second_row;
    grid-row-end: second_row;
    grid-column-start: first_col;
    grid-column-end: fourth_col; 
}

/* Andrew */
.container {
	background: white;
	width: 90%;
	padding: 1em;
	margin: 2em auto;
	margin-bottom: 38vw;
}

/* chat-interface -> chat-room -> output-container */
#output-container {
	white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: rgba(220, 83, 92, 0.6);
    opacity: 60%;
    width: 80%;
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: row1-start;
    grid-row-end: first-end;
    display: flex;
    align-items: center;  
    justify-content: flex-start;  
    grid-row-start: fourth-line;
    grid-row-end: last-line;
    grid-column-start: line2;
    grid-column-end: line3;
    border-radius: 5px;
    color: white;   
}
#contact_flex_box{
    /* display: flex; 
    flex-direction: column */
    background-color: #B8B8B8;
}

.hidden {
	display: none !important;
}

/* chat-interface -> chat-room -> email */
#email{
    grid-row-start: third-line;
    grid-row-end: third-line;
    grid-column-start: line2;
    grid-column-end: col4-start;
    display: grid;
    grid-template-columns: [first_col] 1fr [second_col] 10px [third_col] 125px [fourth_col];
    grid-template-rows: [first_row] 100% [second_row];
}


/* Spinning lines animation */
.animation {
	position: absolute;
	z-index: -1;
    top: 0;
    left: 0;
    background: #292929;
    background: -webkit-linear-gradient(to left, #535353, #292929);  
    width: 100%;
    height:100vh;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.lines li {
    position: absolute;
    display: block;
    list-style: none;
    width: 80vh;
    height: 2px;
    background: rgba(255, 255, 255, 0.269);
    animation: animate 100s linear infinite;
	animation-delay: 0s;
    bottom: -10px;
    
}

.lines li:nth-child(1){
    left: 5%;
	animation-delay: -50s;
    width: 20vh;
}


.lines li:nth-child(2){
    left: 10%;
    width: 120vh;
    animation-duration: 60s;
	animation-delay: -20s;
}

.lines li:nth-child(3){
    left: 50%;
    width: 100vh;
	animation-delay: -20s;
}

.lines li:nth-child(4){
    left: 20%;
    width: 40vh;
    animation-duration: 80s;
}

.lines li:nth-child(5){
    left: 2%;
	animation-delay: -10s;
}

.lines li:nth-child(6){
    left: 37%;
	animation-delay: -60s;
}

.lines li:nth-child(7){
    left: 17%;
	animation-delay: -10s;
}

.lines li:nth-child(8){
    left: 25%;
    animation-duration: 140s;
}

.lines li:nth-child(9){
    left: 60%;
    animation-duration: 90s;
}

.lines li:nth-child(10){
    left: 80%;
    animation-duration: 150s;
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* christian's CSS */
.back-image{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -1;
    height: 100%;
    width:100%; 
}
.details_head{
    font-size: 30px;
    color: white;
}
.details_sub_head{
    font-size: 20px;
    color: white;

}
.middle_module{
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.77);
    width: 25%;
    height: 65%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 10px;
}
.logo_image{
    width: 60%;
}
.welcome_title{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px;
}

.next_button , .back_button{
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    text-decoration: none;
    width: 100%
}

.back_button{
    background-color: #FD648C;
    margin: 0px 10px 0px 0px;
}

.next_button{
    background-color: #FDFE01;
    margin: 0px 10px 0px 0px;

}

.tl_img{
    width:10%;
}

.middle_module_intro{
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.93);
    width: 35%;
    height: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 10px 30px 10px 30px;
}
form{
    text-align: center;    
}

.text_in{

    margin: 5px 0 10px 0;
    background-color:rgba(254, 81, 1, 0.57) ;
    height: 55px;
    width: 80%;
    border-radius: 15px;
}
.next_arrow{
    margin-left: 70%;
}
